.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1100px;
  grid-template-areas:
    "n"
    "h";

  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr;
}

.height {
  min-height: 630px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.o {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.form {
  padding: 20px;
  width: 400px;
  border-radius: 30px;
  border: 5px solid aqua;
  display: flex;
  flex-direction: column;
}

.formm {
  padding: 20px;
  width: 1000px;
  border-radius: 15px;
  border: 10px solid blue;
  display: flex;
  justify-content: center;

}

.form input {
  min-width: 300px;
  width: 100%;
  padding: 3px 10px;
  border-radius: 15px;
  border: black 1px solid;
}

.form button {
  margin-top: 15px;
  margin-left: auto;
  border: black 1px solid;
  border-radius: 15px;

  background: none;
  padding: 3px 15px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}


.form button:focus,
.form input:focus {
  outline: none;
}

.connection_message {
  width: 400px;
  text-align: center;
}

.message {
  width: 400px;
  border: 2px solid blue;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
}

.ooo {
  overflow: auto;
  width: 420px;
  height: 450px;
}
.ansver {
  background-color:whitesmoke;
  width: 1100px;
  text-align: left;
  min-height: 2em;
  margin-left: auto;
  margin-right: -0.4em;
  border: 1px solid black;
}



.pictu {
  width: 360px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}



.tab input, .tab-content { display: none; }
.tab {
 font: 0.8rem/1.2 Arial, sans-serif; 
 border: 1px solid #e9eaec; 
 border-radius: 3px;
 color: #848994; 
 margin-bottom: 10px; 
}
.tab-title {
 padding: 10px; 
 display: block; 
 text-transform: uppercase;
 font-weight: bold;
 cursor: pointer; 
}
.tab-title::after {
 content: '+'; 
 float: right; 
}
.tab-content {
 padding: 10px 20px; /* Поля вокруг текста */
}
.tab :checked + .tab-title {
 background-color: #50a2de; /* Цвет фона */
 border-radius: 3px 3px 0 0; /* Скругляем уголки */
 color: #fff; /* Цвет текста */
}
.tab :checked + .tab-title::after {
 content: '−'; /* Выводим минус */
}
.tab :checked ~ .tab-content {
 display: block; /* Показываем содержимое */
}

.textar{
  width:1200px;
  rows:2;
  resize:none;
}
.lll{
  color:white;
  padding: 5px;
  font-size:xx-large;
  border-radius: 8px;
  background-color: #1e90ff;
}

.centerlabel{
  text-align:center;
}